<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoProject" verbose="1" thread-count="2">
	<test name="Tests">
		<!-- Enter group name to execute specific set of tests -->
		<groups>
			<define name="all">
				<include name="smokeTest" />
				<include name="functionalTest" />
			</define>
			<run>
				<include name="all" />
			</run>
		</groups>

		<!-- List individual packages to execute below -->
		<packages>
			<package name="com.sample.test.demo.tests.*" />
		</packages>
	</test>
</suite>

